<div class="page">
    <div class="clock">9:41</div>
    <div class="rs">
      <img src="assets/Mobile Signal.svg" class="mobsignal">
      <img src="assets/Wifi.svg" class="wifi">
      <img src="assets/Battery.svg" class="batt">
    </div>
<div class="title">History</div>
<img src="assets/Vector (1).svg" class="back">
    <div class="rectangle">
        <div class="date">Date: 2022/02/24</div>
        <div class="recipt">Receipt#: </div>
        <div class="reciptnum">002</div>
<div class="order">Ordered items</div>
<div class="pcs">Pcs</div>
<div class="price2">price</div>
<div class="capp">Cappuchino</div>
<div class="pc1">1</div>
<div class="price3">EGP 70</div>
<div class="bacon">Bacon,sausage & Egg Wrap</div>
<div class="pc2">1</div>
<div class="price4">EGP 85</div>
<div class="vat">Vat:</div>
<div class="vatprice">EGP 40</div>
<div class="deliverycharges">Delivery charges:</div>
<div class="deliverychargesprice">EGP 50</div>
<img src="assets/Rectangle 68.svg" class="line">
<div class="total">Total amount:</div>
        <div class="price">EGP 242</div>
        <div class="button"> </div>
        <div class="pay">Track Order</div>
        <img src="assets/Rectangle 44.svg" class="line2">
        
    </div>
    <div class="bottom">
        <img src="assets/HOME.svg" class="home">
        <img src="assets/MENU.svg" class="menu">
        <img src="assets/HISTORY.svg" class="history">
        <img src="assets/MORE.svg" class="more">
    </div>

</div>