<div class="loginpage">
    <div class="forknspoon">Fork & Spoon</div>
    <div class="rec55">
        <div class="loginbtn"></div>
        <div class="rec51"></div>
        <div class="login">Login</div>
        <div class="signupbtn"></div>
        <div class="signup">Signup</div>
        <div class="grp5">
            <div class="email">Email:</div>
            <div class="emailbox">
                <div class="uremail">Your Email</div>
            </div>
        </div>
        <div class="grp6">
            <div class="pass">Password:</div>
            <div class="passbox">
                <div class="urpass">Your Password</div>
            </div>
        </div>
        <div class="rmbrme">
            <div class="rec43"></div>
            <div class="rmbr">Remember me</div>
        </div>
        <div class="btn">
            
        </div>
        <div class="rec4"></div>
        <div class="shadow"></div>
    </div>
</div>
<div class="logintxt">Login</div>
<div class="forgetpass">Forget Password?</div>
<div class="line6"></div>
<div class="line5"></div>
<div class="or">OR</div>
<div class="facebook">
    <div class="shadow1"></div>
    <div class="rec76"></div>
      <div class="contface">continue with
        <span style="color:#0000FF">F</span>
        <span style="color:#0000FF">a</span>
        <span style="color:#0000FF">c</span>
        <span style="color:#0000FF">e</span>
        <span style="color:#0000FF">b</span>
        <span style="color:#0000FF">o</span>
        <span style="color:#0000FF">o</span>
        <span style="color:#0000FF">k</span>
      </div>
</div>
<div class="google">
    <div class="shadow1"></div>
    <div class="rec76"></div>
      <div class="contface">continue with  
        <span style="color:#4285F4">G</span>
        <span style="color:#EA4335">o</span>
        <span style="color:#FBBC05">o</span>
        <span style="color:#34A853">g</span>
        <span style="color:#4285F4">l</span>
        <span style="color:#EA4335">e</span>
      </div>
</div>
<div class="clock">9:41</div>
<div class="rs">
    <img src="assets/Mobile Signal.svg" class="mobsignal">
    <img src="assets/Wifi.svg" class="wifi">
    <img src="assets/Battery.svg" class="batt">
</div>
<img src="assets/WhatsApp Image 2022-12-13 at 6.43 2.svg" class="img">