<div class="title">Medisite</div>
<div class="rec"></div>
<div class="home">Home</div>
<div class="pages">Pages</div>
<div class="service">Service Area</div>
<div class="blog">Blogs</div>
<div class="contact">Contact Us</div>
<div class="about">About Us</div>
<div class="wealth">A Wealth of Experience To Heal And Help You.</div>
<div class="k">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
the industry's standard dummy text ever since 
the 1500s.</div>
<button class="see">See More</button>
<button class="make">Make an Appointment</button>
<div class="rec1"></div>
<div class="rec2"></div>
<img src="assets/Doctor illustration 1.svg" class="p">
<div class="sub">LORUM IPSUM</div>
<button class="reg">Register now</button>
<div class="r1"></div>
<div class="subr1">24 Hours Service</div>
<img src="assets/Ellipse 1.svg" class="subr1p1">
<img src="assets/24 Hours service 1.svg" class="subr1p11">
<div class="r2"></div>
<div class="r3"></div>
<div class="r4"></div>
<div class="subr2">Qualified Doctor</div>
<div class="subr3">Emergency Care</div>
<div class="subr4">Operation Theater</div>
<div class="su2">Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
<div class="su3">Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
<div class="su4">Lorem Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
<img src="assets/Ellipse 2.svg" class="subr1p3">
<img src="assets/Qualified Doctor 1.svg" class="subr1p22">
<img src="assets/Ellipse 4 (1).svg" class="subr1p4">
<img src="assets/operating-room 1 (1).svg" class="subr1p33">
<div class="down">Medicare Supplement Advocate</div>
<div class="down1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</div>
<button class="more">See More</button>
<img src="assets/Rectangle 12.svg" class="rec12">
<img src="assets/Rectangle 10.svg" class="rec10">
<div class="poly"></div>
<div class="ell"></div>
<div class="REC11"></div>
