<div class="page">
    <div class="clock">9:41</div>
    <div class="rs">
      <img src="assets/Mobile Signal.svg" class="mobsignal">
      <img src="assets/Wifi.svg" class="wifi">
      <img src="assets/Battery.svg" class="batt">
    </div>
<div class="title">Your Cart</div>
<img src="assets/Vector (1).svg" class="back">
    <div class="rectangle">
<img src="assets/image 6.svg" class="pic">
<div class="bacon">Bacon,sausage & Egg Wrap</div>
<div  class="price1">85.00 EGP</div>
<img src="assets/image 7.svg" class="pic2">
<div class="capp">Cappuccino</div>
<div class="price2">70.00 EGP</div>
<img src="assets/Rectangle 68.svg" class="line1">
<div class="totalline">
   Total:           
</div>
<div class="price">155.00 EGP</div>
<img src="assets/Rectangle 68.svg" class="line2">
<div class="button">
    <img src="assets/icon.svg" class="payIcon">
</div>
<div class="pay">Pay</div>
<div class="button2">
    <img src="assets/Group 24.svg" class="removeItemIcon">
</div>
<div class="removeItem">Remove item</div>
    </div>
</div>
