<div class="page">
<div class="clock">9:41</div>
<div class="rs">
  <img src="assets/Mobile Signal.svg" class="mobsignal">
  <img src="assets/Wifi.svg" class="wifi">
  <img src="assets/Battery.svg" class="batt">
</div>
<div class="search">
    <div class="searchBox"></div>
    <div class="searchFood">Search food</div>
    <img src="assets/search.svg" class="searchIcon">
    <a routerLink="/cart">
    <img src="assets/akar-icons_cart.svg" class="cartIcon">
    </a>
</div>
<div class="plugin">
    <img src="assets/Group 17.svg" class="firstplugin">
</div>
<div class="secondplugin">
    <img src="assets/Group 18.svg" class="firstplugin">
</div>
<div class="subtitle">Most Popular Restaurants</div>
<div class="rec">
        <img src="assets/download 1.svg" class="rec1">
        <div class="bk">Burger King</div>
        <img src="assets/mc.svg" class="rec2">
        <div class="mcdon">McDonald's</div>
        <img src="assets/download 2.svg" class="rec3">
        <div class="pizza">Pizza Hut</div>
</div>
<div class="subtitle2">Most Popular Cafes</div>
<div class="rec4">
    <a class="" routerLink="/">
    <img src="assets/starbucks.svg" class="rec5">
    <div class="sb">StarBucks</div>
</a>
     <img src="assets/download (2) 1.svg" class="rec6">
     <div class="cc">Caribu Coffeeg</div>
    <img src="assets/download (3) 1.svg" class="rec7">
    <div class="cil">Cilantro</div>
</div>
<div class="bottom">
    <img src="assets/HOME.svg" class="home">
    <img src="assets/MENU.svg" class="menu">
    <img src="assets/HISTORY.svg" class="history">
    <img src="assets/MORE.svg" class="more">
</div>
</div>
