<div class="page">
    <div class="clock">9:41</div>
    <div class="rs">
      <img src="assets/Mobile Signal.svg" class="mobsignal">
      <img src="assets/Wifi.svg" class="wifi">
      <img src="assets/Battery.svg" class="batt">
    </div>
<div class="title">Track Order</div>
<img src="assets/Vector (1).svg" class="back">
    <div class="rectangle">
        <div class="date">Date: 2022/02/24</div>
        <div class="recipt">Order# </div>
        <div class="reciptnum">TX8778</div>
        <div class="status">Status</div>
        <div class="exptime">Expected Time</div>
        <div class="inprogress">In Progress</div>
        <div class="time">30 min</div>
        <img src="assets/Ellipse 50.svg" class="circ1">
        <img src="assets/Vector 4.svg" class="check">
        <img src="assets/Line 8.svg" class="verline">
        <img src="assets/Ellipse 50.svg" class="circ2">
        <img src="assets/Ellipse 52.svg" class="circ3">
        <img src="assets/Ellipse 52.svg" class="circ4">
        <div class="placed">Order Placed</div>
        <div class="t1">21st Sept, 2021 l 15:02</div>
        <div class="processed">Order Processed</div>
        <div class="t2">In Progress</div>
        <div class="picked">Ready for Pickup</div>
        <div class="dropped">Dropped</div>
        <div class="button"> </div>
        <div class="pay">Track Order</div>
        <div class="bottom">
            <img src="assets/HOME.svg" class="home">
            <img src="assets/MENU.svg" class="menu">
            <img src="assets/HISTORY.svg" class="history">
            <img src="assets/MORE.svg" class="more">
        </div>
        </div>
        </div>
