<div class="title">Our Expert team</div>
<div class="t">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</div>
<div class="rectagle"></div>
<div class="t1">Make An Appointment</div>
<div class="rectagle2"></div>
<div class="n">Full Name</div>
<div class="rectagle3"></div>
<div class="email">Email</div>
<div class="rectagle4"></div>
<div class="phone">Phone Number</div>
<div class="rectagle5"></div>
<div class="dep">Department</div>
<div class="rectagle6"></div>
<div class="add">Additional Information</div>
<div class="rectagle7"></div>
<div class="dt">Date and Time</div>
<div class="rectagle8"></div>
<div class="con">Confirm</div>
<div class="news">News & Events</div>
<div class="t3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</div>